{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Budgety</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/script.js' %}" defer></script>
  </head>
  <body>
    <header>
      <div class="available-budget">
        <p>TOTAL : $ <span id="total-inc-out">{{total_val}}</span></p>
        <p>INCOME : $ <span id="total-income">{{inc_val}}</span></p>
        <p>OUTCOME : $ <span id="total-outcome">{{out_val}}</span></p>
      </div>
    </header>
    <div class="auth">

        {% if user.is_authenticated %}
        <p>
          <p>Welcome {{ user.get_full_name }}</p>
          <a href="{% url 'index:logout' %}">Logout</a>
        </p>
        {% else %}
        <p>
          <a

            class="btn mt-3 d-inline-block btn-primary"
            href="{% url 'index:login' %}"
            >Login</a
          >
          <a
            class="btn mt-3 d-inline-block btn-primary"
            href="{% url 'index:signup' %}"
            >Signup</a
          >
        </p>
        {% endif %}
    </div>
    <form method="post" class="budget-form">
      <select id="type" class="description-item">
        <option value="+">+</option>
        <option value="-">-</option>
      </select>
      <input
        type="text"
        id="desc"
        value="hfef"
        class="description-item"
        placeholder="Add Income Or Outcome"
      />
      <input
        type="number"
        placeholder="Value"
        id="value"
        value="4242"
        class="description-item"
      />
      <button id="add-btn">Add</button>
    </form>

    <div class="inc-out-list">
      <div id="incomes-list">
        <p>INCOME</p>
        <ul id="income-ul">
            {% if incomes %}

                {% for inc in incomes %}
                    <li>
                        <h1>{{ inc.desc }}</h1>
                        <p>{{ inc.value }}</p>
                        <button class="delete" id="{{inc.id}}">x</button>
                    </li>
                {% endfor %}

          {% endif %}
        </ul>
      </div>
      <div id="outcomes-list">
        <p>OUTCOME</p>
        <ul id="outcome-ul">
            {% if incomes %}

                {% for out in outcomes %}
                    <li>
                        <h1>{{ out.desc }}</h1>
                        <p>{{ out.value }}</p>
                        <button class="delete" id="{{out.id}}">x</button>

                    </li>
                {% endfor %}
            
            {% endif %}

        </ul>
      </div>
    </div>
  </body>
</html>
