* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  font-size: 18px;
  text-align: center;
  list-style-type: none;
}
header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/static/images/budget.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  color: white;
}
.available-budget {
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
a {
  padding: 5px;
  border-radius: 4px;
  background-color: #007bff;
  text-decoration: none;
  color: white;
}
.auth {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
}
.auth a {
  margin-top: 10px;
}
.budget-form {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(231, 226, 226, 0.774);
  height: 100px;
}
#type {
  width: 50px;
}
#desc {
  width: 250px;
}

#value {
  width: 100px;
}
#add-btn {
  width: 50px;
}
input,
button,
select {
  height: 40px;
}
.inc-out-list {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  margin-top: 100px;
}
#incomes-list p {
  color: rgb(84, 134, 192);
}
#outcomes-list p {
  color: rgb(189, 29, 29);
}
#incomes-list {
  width: 40%;
}
#outcomes-list {
  width: 40%;
}
#income-ul li,
#outcome-ul li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  height: 70px;
  width: 500px;
  color: rgba(255, 255, 255, 0.658);
  background-color: rgb(47, 177, 116);
}
#income-ul li h1 {
  height: 23px;
  overflow: hidden;
  width: 400px;
  text-align: left;
}
#outcome-ul li h1 {
  height: 23px;
  overflow: hidden;
  width: 400px;
  text-align: left;
}
#outcome-ul li {
  color: rgba(255, 255, 255, 0.753);
  background-color: rgba(255, 0, 0, 0.63);
}
#outcome-ul li p {
  color: rgba(255, 255, 255, 0.753);
}
.delete {
  background-color: rgb(214, 34, 34);
  border: none;
  color: white;
  height: 35px;
  width: 35px;
  border-radius: 3px;
}
